* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f2ca80;
  color: #5a3b1d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D99543;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  color: #fff;
  margin-left: 35px;
  background: #5a3b1d;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 25px;
}

.hero {
  padding: 4rem 2rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero-texto {
  max-width: 400px;
  text-align: left;
}

.hero-texto h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-texto p {
  margin-bottom: 1rem;
}

.botao {
  background-color: #d38741;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
}

.hero-imagem img {
  width: 500px;
  max-width: 600px;
  height: auto;
}

.sobre,
.recursos,
.depoimentos,
.integrantes,
footer {
  padding: 3rem 2rem;
  text-align: center;
}

.recursos .cards,
.integrantes .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: #fff5e1;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.icone {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.foto {
  background-color: #d38741;
  color: white;
  width: 80px;
  height: 80px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.depoimento span {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

footer {
  background-color: #f5c990;
  text-align: left;
}

footer h2 {
  margin-bottom: 1rem;
}

footer p {
  padding-left: 2rem;
}
